@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

table {
  text-align: center;
}

th {
  cursor: pointer;
  padding: 0 50px;
}

th:hover {
  background: green;
}

.th-sort-asc::after {
  content: "\25b4";
  margin-left: 5px;
}

.th-sort-desc::after {
  content: "\25be";
  margin-left: 5px;
}
