@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

table {
  text-align: center;
}

tbody tr:nth-child(2n+1) {
  background-color: lightcyan;
}

th {
  position: relative;
  cursor: pointer;
  padding: 0 50px;
}

th:hover {
  background: darkkhaki;
}

.is-sorted:before {
  position: absolute;
  left: 5px;
  font-size: 16px;
  content: "▲";
  color: black;
}

.is-sorted-desc:before {
  content: "▼";
}
